/* colors: https://coolors.co/2a2b2e-79aea3-fef9ff-a379c9-b486ab */
/* icons:  https://nucleoapp.com/                                */

:root {
    --text: #FEF9FF;
    --main: #2A2B2E;
    --two: #834979;
    --one: #64465B;
    --button: #79AEA3;
}

* {
    padding: 10px;
    margin: 0;
}

html {
    margin: 0;
    padding: 0;
    height: calc(max(100%, auto));
    background-image: linear-gradient(to right top, var(--one) 5%, var(--main) 30%, var(--main) 70%, var(--two) 95%);
    color: var(--text);
    align-content: center;
    text-align: center;
}

#container {
    color: var(--text);
    align-content: center;
}

button {
    display: inline-block;
    padding: 5px;
    margin: 40px;
    background-image: linear-gradient(to top, var(--button) 5%, var(--main) 40%, var(--main) 60%, var(--button) 95%);
    border: 3px var(--main) solid;
    border-radius: 7px;
    color: var(--text);
}

button:hover {
    background-image: linear-gradient(to top, var(--main) 5%, var(--button) 40%, var(--button) 60%, var(--main) 95%);
    color: var(--text);
}

.text-input {
    display: inline-block;
    background: var(--text);
    border: 3px var(--button) solid;
    border-radius: 7px;
    color: var(--main);
    min-width: 20%;
}

ul li {

}